##   Day 21 Challenge


### Maths Game

Test your family and friends on their multiplication knowledge (or just be really mean to people you know and ask them to work out their multiplication tables for 5,474,000,000....)

1. Prompt the user by asking for a multiplication table for the number of their choice.
2. Generate the multiplication table for 1 to 10 times that number and ask each math fact as a question (psst...that's a hint).
3. If the user gets the math correct, award them a point. If they get it wrong, do not give them any points.
4. At the end of the 10 rounds, show the user their score out of 10 for how many math facts they got correct.
5. Why not give users an emoji if they get all 10 math facts correct?

Math Game!

Name your multiples: 7

1 X 7 = 7
Great work! 

2 X 7 = 14
Awesome!

3 X 7 = 54
Nope. The answer was 21. 

---

You scored 3 out of 10.

In [14]:
print(" WElcome to the MATH game")
print(" You need enter the number and work out its multiple table")
print(" Lets Begin: *************************")
print()
number = int(input(" Enter the number : "))
point= 0
counter =1
while(True):
    x = int(input(f"{counter} x {number} = "))
    
    if x != counter * number:
            print(" Wrong")
            print(" The answer was ", counter * number)
            print(" You scored",point,"out of 10")
            break
    elif x == counter * number :
        print("Nice")
        print()
        point+=1
        counter+=1        
    
    else:
        print(" You entered the wrong input")
        
    if counter == 11:
        print(" Well done. You did great")
        print(" You scored",point,"out of 10")
        break

 WElcome to the MATH game
 You need enter the number and work out its multiple table
 Lets Begin: *************************

 Enter the number : 2
1 x 2 = 2
Nice

2 x 2 = 1
 Wrong
 The answer was  4
 You scored 1 out of 10